MEDUSA_ADMIN_ONBOARDING_TYPE=default
STORE_CORS=http://localhost:8000,http://localhost:4200,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_WRITE_URL=postgres://myuser:mypassword@localhost/mydb?ssl_mode=disable
DATABASE_READ_URL=postgres://myuser:mypassword@localhost/mydb?ssl_mode=disable
NODE_ENV=development
PORT=80

# S3_USER_SECRET_ACCESS_KEY=XXX
# S3_USER_ACCESS_KEY=XXX

MEDUSA_BACKEND_URL=https://store-api.sabrefoxx.com